.App {
  display: flex;
  flex-direction: column;
}

.App > main {
  flex: 1;
}

.App > footer {
  display: flex;
  background-color: gray;
  gap: 1rem;
}

.App > footer * {
  margin: 0;
  padding: 0;
}

.z1 {
  position: absolute;
  z-index: 1;
}

.icon-pair {
  display: flex;
  gap: 0.5rem;
}

.margin {
  display: block;
  width: 90%;
  margin: 2rem auto;
}

.tiled {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.icon {
  background-color: green;
  aspect-ratio: 1/1;
  width: 20px;
  cursor: pointer;
}

.img {
  background-color: slategray;
  height: 200px;
  width: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0.4rem 0.4rem 0.3rem 0.1rem rgba(62, 62, 62, 0.2);
  min-width: 200px;
}

.card-image {
  aspect-ratio: 2/1.3;
  background-color: orange;
}

.card-text {
  margin: 0.5rem;
}

.card-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card-title > * {
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}
